body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
}

#left {
    width: 20%;
    background-color: aquamarine;
    height: 200px;
    float: left;
    margin-left: 0px;
}


#contain {
}
a{
    text-decoration:none;
}

#footer {
    clear: both;
    background-color: burlywood;
    color: brown;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: 60px;
}
